@import "../../Scss/variable";
// .movies {
//   padding: 30px;
// }
.title {
  text-align: center;
  font-size: 30px;
  color: $side-color;
  margin-bottom: 25px;
  border-bottom: 5px solid $main-color;
  background-color: #000;
  border-radius: 5px;
}
.select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid $active-color;
}
img {
  width: 80px;
}

label {
  margin-top: 10px;
  color: $active-color;
}

@media screen and (max-width: 767px) {
  .title {
    padding: 0 10px;
    font-size: 25px;
  }
}
