@import "./variable";

.label {
  color: #000;
  font-size: 18px;
  margin-left: 30px;
}
.print {
  display: none;
}
@media print {
  .print {
    display: block;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    &-title {
      margin: 40px;
      display: block;
      text-align: center;
      font-size: 35px;
    }
    &-table {
      width: 100%;

      text-align: center;
      border-collapse: collapse;
      th {
        background-color: #fff59d;
      }
    }
    table,
    td,
    th {
      padding: 4px 0;
      border: 1px solid #aaa;
    }
    span {
      display: block;
    }
    &-info {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #aaa;
    }
    &-name {
      padding-left: 50px;
    }
    &-price {
      padding-right: 50px;
    }
    &-day {
      margin-top: 5px;
      margin-bottom: 10px;
      text-align: right;
      padding-right: 40px;
    }
    &-signature {
      text-align: right;
      padding-right: 90px;
    }
    &-des {
      text-align: right;
      font-size: 12px;
      font-style: italic;
      padding-right: 90px;
    }
  }

  /* ... the rest of the rules ... */
}
@media screen and (max-width: 767px) {
  .label {
    display: block;
    margin-left: 0px;
    margin-bottom: 5px;
  }
}
.form {
  position: relative;
  &-group {
    display: flex;
    gap: 10px;
  }
  &-input {
    padding: 8px 10px;
    background-color: #fff59d;
    color: #000;
    border: none;
    border-radius: 2px;
    margin-bottom: 20px;
    text-align: center;
  }

  &-button {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #8bc34a;
    padding: 8px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
  }
  .fa-print {
    font-size: 18px;
    margin-left: 8px;
  }

  @media screen and(max-width:767px) {
    flex-direction: column;
    margin-bottom: 5px;
    gap: 0px;
    &-group {
      gap: 0px;
      flex-direction: column;
    }
    &-input {
      padding: 3px 5px;
    }
    &-button {
      top: -16px;
    }
  }
}
